.container {
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 9px;
}

.containerImgHead img {
  box-sizing: border-box;
  width: 100%;
}

.containerImgHeadDesk{
  display: none;
}

@media (min-width: 1024px) {
  
.containerImgHeadDesk, .containerImgHeadDesk img{
  display: block;
    box-sizing: border-box;
  width: 100%;
}
.containerImgHead, .containerImgHead img{
  display: none;
}


}